body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}

.container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #2c3e50;
}

p {
  font-size: 18px;
  color: #555;
}
